{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      {{ data | dump }}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Pizza base"
            },
            value: {
              text: data['pizza-base']
            },
            actions: {
              items: [
                {
                  href: "/base",
                  text: "Change",
                  visuallyHiddenText: "pizza base"
                }
              ]
            }
          },
          {
            key: {
              text: "Toppings"
            },
            value: {
              text: data['toppings'] or [] | join(', ')
            },
            actions: {
              items: [
                {
                  href: "/toppings",
                  text: "Change",
                  visuallyHiddenText: "toppings" 
                }
              ]
            }
          },
          {
            key: {
              text: "Sides"
            },
            value: {
              text: data['select-sides'] | join(', ')
            },
            actions: {
              items: [
                {
                  href: "/select-sides",
                  text: "Change",
                  visuallyHiddenText: "select sides"
                }
              ]
            }
          } if data['select-sides']
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Order your pizza
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, this is the pizza you'd like to order.
      </p>

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
