{% extends "layouts/main.html" %}

{% block pageTitle %}
  Pizza base – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form class="form" method="post">
        <!-- TODO: add a radio element asking the user whether they want sides  -->
        <!-- Hint: https://design-system.service.gov.uk/components/radios/  -->
        <!-- Hint: the 'base.html' is a good example of how to do this!  -->

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
