{% extends "layouts/main.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageTitle %}
  Pizza base – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form class="form" method="post">
        {{ govukCheckboxes({
          name: "select-sides",
          fieldset: {
            legend: {
              text: "Select your sides",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: {
            text: errors[0].text
          } if errors,
          items: [
            {
              value: "garlic-bread",
              text: "Garlic Bread"            
            },
            {
              value: "cheesy-garlic-bread",
              text: "Cheesy Garlic Bread"            
            },
            {
              value: "fries",
              text: "Fries"
            },
            {
              value: "potato-tots",
              text: "Potato Tots"
            },
            {
              value: "bbq-chicken-wings",
              text: "BBQ Chicken Wings"
            },
            {
              value: "chicken-bites",
              text: "Chicken Bites"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}